/*
vim: ts=2 expandtab:
*/

h2 {
}

a {
  margin: 2px;
}

p {
  margin: 2px;
  padding: 2px;
}

p.sample {
  padding-left: 20px;
}


p.project {
  font-size: 110%;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 4px;
  color: black;
}

text.project {
  margin: 0px;
  padding-right: 8px;
}

.sample {
  color: black;
}

